@media screen and (min-width: 992px) {
  .thirdHeader {
    display: flex;
    align-items: center;
    color: rgb(150, 107, 7);
    margin-left: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
  }
}
