.main {
  margin: 0px 20px 70px 20px;
}

.mainh1 {
  color: rgb(235, 10, 48);
}

.main img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.mainSub {
  border: 1px solid blue;
  border-radius: 5px;
  border-left: 5px solid rgb(11, 11, 76);
  width: 100%;
  color: rgb(11, 11, 76);
  margin-bottom: 20px;
}

.backed {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: -5px 20px -10px 20px;
}

.backed i {
  color: #ffff;
  border-radius: 100%;
  padding: 4px;
  background-color: rgb(11, 11, 76);
  margin-right: 5px;
}

.backed h3 {
  flex: 1;
  margin-right: 20px;
  margin-left: 5px;
}

.mainSub p {
  margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 992px) {
  .main {
    display: flex;
    align-items: center;
    margin: 0px 50px;
  }

  .subMain {
    margin-right: 30px;
    width: 50%;
  }

  .mainSub {
    margin-top: 20px;
    box-shadow: 2px 3px 4px 5px rgb(219, 216, 216);
  }

  .mainImg {
    width: 50%;
  }

  .mainImg img {
    object-fit: cover;
    margin-bottom: 10px;
    width: 100%;
  }
}
